* {
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #142d4c;
}

table {
    border: 2px solid #385170;
    margin: 0 auto;
    text-align: center;
}

thead {
    background-color: #9fd3c7;
}

td {
    border-top: 1px solid #385170;
    
}

#tag {
 font-family: monospace;
 background-color: aliceblue;
}